.App {
  min-height: 100vh;
  text-align: center;
  background: #121212;
}

.main {
  margin: 0 auto;
  width: 450px;
  padding: 50px 50px;
  color: #fff;
  background: #121212;
}

.nameInput {
  display: flex;
  justify-content: space-between;
}

.nameInput div {
  width: 48%;
}

.logo div {
  height: 50px;
  width: 50px;
  margin: 75px auto;
  background: #f48fb2;
  border-radius: 50%;
}
.logo img {
  height: 70%;
  padding-top: 10%;
  object-fit: contain;
}

.buttons {
  margin: 0 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

a {
  color: lightblue;
  cursor: pointer;
}

h5 {
  margin-top: 100px;
  font-weight: 400;
  color: grey;
}
